.assets {
    background-color: $bg2;
    overflow: hidden;
    &__body {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        &-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 48px;
            color: $txt;
            margin-bottom: 20px;
        }
        &-text {
            font-size: 16px;
            line-height: 24px;
            color: $txt2;
            margin-bottom: 30px;
        }
        &-span {
            color: $light-blue;
            position: relative;
            display: inline-block;
            &::before {
                content: '';
                background: url(../img/assets/line.svg);
                background-repeat: no-repeat;
                height: 5px;
                width: 140px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &-btn {
            font-size: 16px;
            line-height: 19px;
            align-self: center;
            margin-bottom: 60px;
            padding: 25px 55px;
        }
    }
    &__list {
        display: flex;
        padding-bottom: 15px;
        overflow: hidden;
        animation-duration: 30s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        animation-timing-function: linear;
        animation-direction: alternate;
        &--second {
            flex-direction: row-reverse;
            margin-bottom: 120px;
            animation-duration: 30s;
            animation-name: slidein-r;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-direction: alternate;
        }
        &:hover {
            animation-play-state: paused;
        }
        &-body {
            margin: 0 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            width: 100%;
            min-width: 134px;
            padding: 10px 30px;
            border-radius: 10px;
        }
    }
}
@keyframes slidein {
    from {
      margin-left: 0%;
    }

    to {
      margin-left: -100%;
    }
  }
  @keyframes slidein-r {
    from {
      margin-right: 0%;
    }

    to {
      margin-right: -100%;
    }
  }
@media screen and (min-width:800px) {
    .assets {
        &__body {
            align-items: center;
            &-content {
                max-width: 450px;
                display: flex;
                flex-direction: column;
            }
            &-title {
                text-align: center;
            }
            &-text {
                text-align: center;
            }
        }
        &__list {
            &-body {
                min-width: 194px;
            }
        }
    }
}
@media screen and (min-width:1200px) {
    .assets__body-content {
        max-width: 730px;
    }
    .assets__list-body {
        min-width: 244px;
    }
}
@media screen and (min-width:1920px) {
    .assets {
        &__body {
            &-content {
                max-width: 950px;
            }
            &-title {
                font-size: 48px;
                line-height: 58px;
            }
            &-text {
                font-size: 20px;
                line-height: 29px;
            }
            &-span {
                &::before {
                    background: url(../img/assets/line-l.svg);
                    background-repeat: no-repeat;
                    width: 175px;
                    height: 9px;
                    bottom: -7px;
                }
            }
        }
        &__list {
            &-body {
                min-width: 304px;
            }
        }
    }
}
