.slide {
    height: 200px;
    &__body {
        position: relative;
    }
    &__list {
        position: absolute;
        display: flex;
        align-items: center;
        margin: 0 -22px;
        overflow-x: scroll;
        height: 209px;
        z-index: 2;
        top: -104px;
        width: 100%;
        &::-webkit-scrollbar {
            display: none;
            }
        &-body {
            padding: 0 22px;
        }
        &-card {
            display: flex;
            height: 197px;
            width: 198px;
            position: relative;
            border-radius: 10px 10px 30px 10px;
            box-shadow: white 0px 0px 0px 7px;

            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                width: 212px;
                background-color:transparent;
                bottom: 99px;
                left: -7px;
                height: 104px;
                border-top: 7px solid  transparent;
                border-left: 7px solid transparent;
                border-right: 7px solid  transparent;
                border-radius: 10px 10px 0 0;
                transition: all 0.3s ease;
                transform: translateY(100%);
                opacity: 0;
            }
            &:hover {
                &::before {
                border-top: 7px solid $light-blue;
                border-left: 7px solid $light-blue;
                border-right: 7px solid $light-blue;
                background-color:rgba(15, 38, 62, 0.59);
                transform: translateY(0);
                opacity: 1;
                z-index: 1;
               }
            }
            &:active::before {
                background-color:rgba(15, 38, 62, 0.59);
                border-top: 7px solid $light-blue;
                border-left: 7px solid $light-blue;
                border-right: 7px solid $light-blue;
            }
            &::after {
                content: 'Реферальные программы';
                position: absolute;
                display: flex;
                align-items: center;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                padding: 20px 15px;
                width: 212px;
                background-color:rgba(15, 38, 62, 0.59);
                top: 98px;
                left: -7px;
                height: 106px;
                border-bottom: 7px solid $light-blue;
                border-left: 7px solid $light-blue;
                border-right: 7px solid $light-blue;
                border-radius: 0 0 30px 10px;
                z-index: 4;
            }
            &--wrapper {
                position: relative;
                &::before {
                    content: '';
                    width: 100%;
                    height: 50%;
                    background-color: transparent;
                    z-index: 5;
                    position: absolute;
                    transform: translateY(100%);
                }
            }
            &:hover {
                &::before {
                    transform: translateY(0);
                    background-color:rgba(15, 38, 62, 0.59);
                    border-radius: 10px 10px 0 0 ;
                }
            }
        }
        &-img {
            display: inline-block;
            object-fit: cover;
            height: 100%;
            z-index: 4;
            border-radius: 10px 10px 30px 10px;
        }
        &--cardBonus {
            background: url(../img/slide/bonus.jpg);
            &::after {
                content: 'Бонусы до 30%';
            }
        }
        &--cardBuild {
            background: url(../img/slide/build.jpg);
            &::after {
                content: 'Гарантия безопасной торговли';
            }
        }
        &--cardArms {
            background: url(../img/slide/arms.jpg);
            &::after {
                content: 'Эксперты международного рынка';
            }
        }
        &-text {
            display: flex;
            font-size: 16px;
            line-height: 24px;
            color: $white;
            padding: 0 16px;
            padding-top: 133px;
            z-index: 4;
        }
    }
}
@media screen and (min-width:800px ) {
    .slide {
        &__list {
            &-card {
                width: 230px;
                &::before {
                    width: 244px;
                }
                &::after {
                    width: 244px;
                }
            }
        }
    }
}
@media screen and (min-width:1200px ) {
    .slide {
        &__list {
            &-card {
                width: 291px;
                &::before {
                    width: 306px;
                }
                &::after {
                    width: 306px;
                }
            }
        }
    }
}
@media screen and (min-width:1500px ) {
    .slide {
        &__list {
            justify-content: flex-end;

        }
    }
}
@media screen and (min-width:1920px ) {
    .slide {
        background-color: $bg2;
    }
}
