@charset "UTF-8";
@font-face {
  font-family: 'Inter';
  src: url("../fonts/inter/Inter-Bold.woff2") format("woff2"), url("../fonts/inter/Inter-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url("../fonts/publickSans/PublicSans-Light.woff2") format("woff2"), url("../fonts/publickSans/PublicSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url("../fonts/publickSans/PublicSans-Bold.woff2") format("woff2"), url("../fonts/publickSans/PublicSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url("../fonts/publickSans/PublicSans-Regular.woff2") format("woff2"), url("../fonts/publickSans/PublicSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand-v30-latin-regular.woff2") format("woff2"), url("../fonts/quicksand-v30-latin-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1574px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 30px;
}

.body {
  font-family: 'Public Sans','Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-resonsive {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #0A1F32;
}

a:hover {
  color: #73CBE8;
}

.btn--color-orange {
  cursor: pointer;
  border-radius: 20px 6px;
  border: 2px solid #FF813A;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #FF813A;
}

.btn--color-orange:hover {
  background-color: transparent;
  border: 2px solid #FF813A;
  border-radius: 20px 6px;
  color: #FF813A;
}

.btn--color-orange:active {
  color: #FFFFFF;
  background-color: #FF813A;
  border-radius: 20px 6px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  position: relative;
}

.header__logo::before {
  content: '';
  position: absolute;
  height: 69px;
  width: 180px;
  left: -30px;
  top: -20px;
  background-color: #F9F9FB;
  border-radius: 0 0 30px;
}

.header__logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-svg {
  z-index: 10;
}

.header__menu {
  position: absolute;
  top: 49px;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__menu-body {
  background-color: #FFFFFF;
  padding: 40px 30px;
  width: 330px;
}

.header__menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 18px;
  border-bottom: 2px solid rgba(0, 52, 88, 0.04);
}

.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 29px;
  color: #0A1F32;
  margin-bottom: 20px;
}

.header__menu-link:hover path {
  stroke: #73CBE8;
}

.header__menu-svg {
  margin-left: 8px;
}

.header__menu.show {
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.header__acount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login {
  position: absolute;
  right: 0;
  top: 354px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__login-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  padding: 40px 30px;
  width: 330px;
}

.header__login-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 18px;
  line-height: 29px;
  color: #0A1F32;
  margin-bottom: 20px;
}

.header__login-svg {
  margin-right: 10px;
}

.header__login.show {
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.header__register-btn {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 35px;
  background-color: #FF813A;
}

.header__lang-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 20px;
  line-height: 29px;
  color: #0A1F32;
}

.header__lang-link:hover path {
  stroke: #73CBE8;
}

.header__lang-svg {
  margin-left: 8px;
}

.header__burger {
  position: relative;
  cursor: pointer;
  width: 41px;
  height: 20px;
  margin-left: 21px;
}

.header__burger-span {
  width: 41px;
  height: 3px;
  background-color: #003458;
  position: absolute;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__burger-span:hover path {
  stroke: #73CBE8;
}

.header__burger-span:nth-child(1) {
  top: 0;
}

.header__burger-span:nth-child(2) {
  top: 50%;
  right: 0;
  width: 33px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

.header__burger-span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 22px;
}

.header__burger.show span:nth-child(1) {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -9px;
}

.header__burger.show span:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.header__burger.show span:nth-child(3) {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 41px;
  top: 20px;
}

@media screen and (min-width: 800px) {
  .header__body {
    margin: 25px 0;
  }
  .header__logo-svg {
    width: 124px;
    height: 20px;
  }
  .header__logo::before {
    height: 79px;
    top: -25px;
    width: 255px;
  }
}

@media screen and (min-width: 1200px) {
  .header__body {
    margin: 18px 0;
  }
  .header__logo-svg {
    width: 104px;
    height: 17px;
  }
  .header__logo::before {
    left: -79px;
    height: 91px;
  }
  .header__menu {
    position: static;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header__menu-body {
    background-color: transparent;
    padding: 0;
    width: 100%;
  }
  .header__menu-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    padding: 0;
  }
  .header__menu-link {
    white-space: nowrap;
    margin-bottom: 0;
    margin: 0 12px;
    font-size: 16px;
    line-height: 24px;
  }
  .header__menu-link:hover path {
    stroke: #73CBE8;
  }
  .header__lang-link {
    font-size: 16px;
  }
  .header__burger {
    display: none;
  }
  .header__login {
    position: static;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    visibility: visible;
    opacity: 1;
  }
  .header__login-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    padding: 0;
    width: 100%;
  }
  .header__login-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .header__register-btn {
    font-size: 16px;
    line-height: 24px;
    margin: 0 15px;
  }
}

@media screen and (min-width: 1530px) {
  .header__logo::before {
    width: 470px;
    left: -294px;
  }
}

@media screen and (min-width: 1920px) {
  .header__menu-link {
    font-size: 18px;
    line-height: 29px;
  }
  .header__logo::before {
    width: 870px;
    left: -591px;
  }
  .header__logo-svg {
    width: 119px;
    height: 20px;
  }
  .header__login-link {
    font-size: 18px;
    line-height: 29px;
  }
  .header__register-btn {
    padding: 10px 35px;
    font-size: 18px;
    line-height: 29px;
  }
  .header__lang-link {
    font-size: 18px;
    line-height: 29px;
  }
}

.trustee {
  position: relative;
  background: url(../../img/trustee/mans.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #0A1F32;
  background-size: 1200px 608px;
  height: 608px;
}

.trustee__icons::before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, color-stop(5.21%, #003458), color-stop(8.46%, #003458), color-stop(99.06%, rgba(0, 52, 88, 0)));
  background: linear-gradient(90deg, #003458 5.21%, #003458 8.46%, rgba(0, 52, 88, 0) 99.06%);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.trustee__icons-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.trustee__icons-microsoft {
  position: absolute;
  top: 12%;
  left: 35%;
}

.trustee__icons-bitoc {
  position: absolute;
  bottom: 47%;
  right: 30%;
}

.trustee__icons-google {
  position: absolute;
  top: 38%;
  left: 25%;
}

.trustee__icons-graphicBig {
  display: none;
}

.trustee__icons-graphicsmall {
  display: none;
}

.trustee__icons-graphicYellow {
  display: none;
}

.trustee__icons-intel {
  position: absolute;
  top: 11%;
  right: 40%;
}

.trustee__icons-kolos {
  position: absolute;
  bottom: 25%;
  right: 45%;
}

.trustee__icons-sims {
  position: absolute;
  top: 13%;
  right: 23%;
}

.trustee__icons-dollar {
  display: none;
}

.trustee__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 608px;
}

.trustee__body-content {
  z-index: 2;
  max-width: 454px;
}

.trustee__body-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  margin-top: 110px;
}

.trustee__body-text {
  font-size: 18px;
  line-height: 29px;
  color: #F9F9FB;
  margin-top: 20px;
}

.trustee__body-btn {
  padding: 23px 61px;
  margin-top: 30px;
}

.trustee__body-play {
  display: none;
}

@media screen and (min-width: 800px) {
  .trustee__icons::before {
    width: 70%;
  }
  .trustee__icons::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: -webkit-gradient(linear, right top, left top, color-stop(5.21%, #003458), to(rgba(0, 52, 88, 0)));
    background: linear-gradient(270deg, #003458 5.21%, rgba(0, 52, 88, 0) 100%);
    width: 45%;
    z-index: 2;
  }
  .trustee__icons-microsoft {
    position: absolute;
    top: 12%;
    left: 40%;
  }
  .trustee__icons-bitoc {
    top: 6%;
    right: 13%;
  }
  .trustee__icons-google {
    position: absolute;
    top: 8%;
    left: 25%;
  }
  .trustee__icons-graphicBig {
    display: none;
  }
  .trustee__icons-graphicsmall {
    display: none;
  }
  .trustee__icons-graphicYellow {
    display: block;
    position: absolute;
    bottom: 35%;
    right: 15%;
  }
  .trustee__icons-intel {
    position: absolute;
    top: 4%;
    right: 50%;
  }
  .trustee__icons-kolos {
    position: absolute;
    bottom: 20%;
    right: 55%;
  }
  .trustee__icons-sims {
    top: 46%;
    right: 11%;
  }
  .trustee__icons-dollar {
    display: block;
    position: absolute;
    top: 17%;
    right: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .trustee__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .trustee__body-content {
    width: 50%;
  }
  .trustee__body-play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .trustee__body-playBox {
    height: 85px;
    width: 85px;
    z-index: 3;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: relative;
  }
  .trustee__body-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .trustee__icons-microsoft {
    top: 12%;
    left: 30%;
  }
  .trustee__icons-bitoc {
    top: 28%;
    right: 28%;
  }
  .trustee__icons-google {
    top: 15%;
    left: 66%;
  }
  .trustee__icons-graphicBig {
    display: block;
    position: absolute;
    top: 47%;
    right: 72%;
  }
  .trustee__icons-graphicsmall {
    display: block;
    position: absolute;
    top: 15%;
    right: 18%;
    z-index: 1;
  }
  .trustee__icons-graphicYellow {
    bottom: 42%;
    right: 20%;
  }
  .trustee__icons-intel {
    top: 4%;
    right: 50%;
  }
  .trustee__icons-kolos {
    bottom: 20%;
    right: 10%;
  }
  .trustee__icons-sims {
    top: 46%;
    right: 11%;
  }
  .trustee__icons-dollar {
    top: 17%;
    right: 11%;
  }
}

@media screen and (min-width: 1300px) {
  .trustee__icons::before {
    background: -webkit-gradient(linear, left top, right top, color-stop(16.21%, #003458), to(rgba(0, 52, 88, 0)));
    background: linear-gradient(90deg, #003458 16.21%, rgba(0, 52, 88, 0) 100%);
  }
  .trustee__icons::after {
    background: -webkit-gradient(linear, right top, left top, color-stop(16.21%, #003458), to(rgba(0, 52, 88, 0)));
    background: linear-gradient(270deg, #003458 16.21%, rgba(0, 52, 88, 0) 100%);
  }
}

@media screen and (min-width: 1500px) {
  .trustee__icons::before {
    background: -webkit-gradient(linear, left top, right top, color-stop(26.21%, #003458), to(rgba(0, 52, 88, 0)));
    background: linear-gradient(90deg, #003458 26.21%, rgba(0, 52, 88, 0) 100%);
  }
  .trustee__icons::after {
    background: -webkit-gradient(linear, right top, left top, color-stop(36.21%, #003458), to(rgba(0, 52, 88, 0)));
    background: linear-gradient(270deg, #003458 36.21%, rgba(0, 52, 88, 0) 100%);
  }
  .trustee__icons-microsoft {
    top: 32%;
    left: 30%;
  }
  .trustee__icons-bitoc {
    top: 0%;
    right: 36%;
  }
  .trustee__icons-google {
    top: 9%;
    left: 56%;
  }
  .trustee__icons-graphicBig {
    display: block;
    position: absolute;
    top: 47%;
    right: 72%;
  }
  .trustee__icons-graphicsmall {
    display: block;
    position: absolute;
    top: 15%;
    right: 18%;
    z-index: 1;
  }
  .trustee__icons-graphicYellow {
    bottom: 42%;
    right: 27%;
  }
  .trustee__icons-intel {
    top: 18%;
    right: 60%;
  }
  .trustee__icons-kolos {
    bottom: 20%;
    right: 30%;
  }
  .trustee__icons-sims {
    top: 46%;
    right: 24%;
  }
  .trustee__icons-dollar {
    top: 17%;
    right: 25%;
  }
}

.slide {
  height: 200px;
}

.slide__body {
  position: relative;
}

.slide__list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -22px;
  overflow-x: scroll;
  height: 209px;
  z-index: 2;
  top: -98px;
  width: 100%;
}

.slide__list::-webkit-scrollbar {
  display: none;
}

.slide__list-body {
  padding: 0 22px;
}

.slide__list-card {
  background: url(../img/slide/mansSmall.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 197px;
  width: 198px;
  position: relative;
  border-radius: 0 0 30px 10px;
  cursor: pointer;
}

.slide__list-card::before {
  content: '';
  position: absolute;
  width: 212px;
  background-color: transparent;
  bottom: 99px;
  left: -7px;
  height: 101px;
  border-top: 7px solid #FFFFFF;
  border-left: 7px solid #FFFFFF;
  border-right: 7px solid #FFFFFF;
  border-radius: 10px 10px 0 0;
  z-index: 3;
}

.slide__list-card:hover::before {
  background-color: rgba(15, 38, 62, 0.59);
  border-top: 7px solid #73CBE8;
  border-left: 7px solid #73CBE8;
  border-right: 7px solid #73CBE8;
}

.slide__list-card::after {
  content: 'Реферальные программы';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 20px 15px;
  width: 212px;
  background-color: rgba(15, 38, 62, 0.59);
  top: 98px;
  left: -7px;
  height: 106px;
  border-bottom: 7px solid #73CBE8;
  border-left: 7px solid #73CBE8;
  border-right: 7px solid #73CBE8;
  border-radius: 0 0 30px 10px;
}

.slide__list-cardBonus {
  background: url(../img/slide/bonus.jpg);
}

.slide__list-cardBonus::after {
  content: 'Бонусы до 30%';
}

.slide__list-cardBuild {
  background: url(../img/slide/build.jpg);
}

.slide__list-cardBuild::after {
  content: 'Гарантия безопасной торговли';
}

.slide__list-cardArms {
  background: url(../img/slide/arms.jpg);
}

.slide__list-cardArms::after {
  content: 'Эксперты международного рынка';
}

.slide__list-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0 16px;
  padding-top: 133px;
  z-index: 4;
}

@media screen and (min-width: 800px) {
  .slide__list-card {
    width: 230px;
  }
  .slide__list-card::before {
    width: 244px;
  }
  .slide__list-card::after {
    width: 244px;
  }
}

@media screen and (min-width: 1200px) {
  .slide__list-card {
    width: 220px;
  }
  .slide__list-card::before {
    width: 234px;
  }
  .slide__list-card::after {
    width: 234px;
  }
}

@media screen and (min-width: 1920px) {
  .slide__list-card {
    width: 291px;
  }
  .slide__list-card::before {
    width: 304px;
  }
  .slide__list-card::after {
    width: 304px;
  }
}

.footer {
  background-color: #1A1C26;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
}

.footer__info {
  margin-bottom: 40px;
  width: 270px;
}

.footer__info-logos {
  margin-bottom: 40px;
}

.footer__info-address {
  margin-bottom: 23px;
}

.footer__info-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  color: #687086;
}

.footer__sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  margin-bottom: 40px;
}

.footer__sections-traders {
  border-top: 2px solid rgba(249, 249, 251, 0.1);
  border-bottom: 2px solid rgba(249, 249, 251, 0.1);
  padding: 15px 0;
}

.footer__sections-analytics {
  border-bottom: 2px solid rgba(249, 249, 251, 0.1);
  padding: 15px 0;
}

.footer__sections-education {
  border-bottom: 2px solid rgba(249, 249, 251, 0.1);
  padding: 15px 0;
}

.footer__sections-company {
  border-bottom: 2px solid rgba(249, 249, 251, 0.1);
  padding: 15px 0;
}

.footer__sections-documents {
  border-bottom: 2px solid rgba(249, 249, 251, 0.1);
  padding: 15px 0;
}

.footer__sections-list {
  list-style: none;
  position: absolute;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.footer__sections-listTraders.show {
  position: static;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
}

.footer__sections-listAnalytics.show {
  position: static;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
}

.footer__sections-listEducation.show {
  position: static;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
}

.footer__sections-listCompany.show {
  position: static;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
}

.footer__sections-listDocuments.show {
  position: static;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
}

.footer__sections-item {
  margin: 5px 0;
}

.footer__sections-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
  opacity: 0.6;
}

.footer__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #F9F9FB;
}

.footer__card-svg {
  margin-right: 2px;
  cursor: pointer;
}

.footer__card-svg:hover path {
  stroke: #73CBE8;
}

.footer__tm {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 30px;
}

.footer__tm-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  text-transform: uppercase;
  color: #687086;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  .footer__info {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
  }
  .footer__info-logos {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer__info-address {
    grid-column: 1/2;
    grid-row: 2/-1;
  }
  .footer__sponsor {
    margin: 0;
    grid-column: 2/-1;
    grid-row: 2/-1;
  }
  .footer__sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
    border-bottom: 2px solid rgba(249, 249, 251, 0.1);
    padding-bottom: 80px;
  }
  .footer__sections-traders {
    border: none;
    padding: 0;
  }
  .footer__sections-analytics {
    border: none;
    padding: 0;
  }
  .footer__sections-education {
    border: none;
    padding: 0;
    grid-column: 2/3;
    margin-top: -185px;
  }
  .footer__sections-company {
    border: none;
    padding: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: -97px;
  }
  .footer__sections-documents {
    border: none;
    padding: 0;
    grid-column: 3/-1;
    grid-row: 1/2;
  }
  .footer__sections-list {
    list-style: none;
    position: static;
    padding: 0;
    visibility: visible;
    opacity: 1;
  }
  .footer__sections-item {
    margin: 12px 0;
  }
  .footer__card {
    margin-bottom: 30px;
  }
  .footer__card-svg {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .footer__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: grid;
    grid-template-columns: 33.333% 66.666%;
    grid-template-rows: 1fr;
  }
  .footer__info {
    display: block;
  }
  .footer__sections {
    border-bottom: none;
    padding-bottom: 70px;
  }
  .footer__tm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border-top: 2px solid rgba(249, 249, 251, 0.1);
    grid-column: 1/-1;
    padding-top: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .footer__sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 60px;
  }
  .footer__sections-education {
    margin-top: 0;
  }
  .footer__sections-company {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
