@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Bold.woff2') format('woff2'),
        url('../fonts/inter/Inter-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/publickSans/PublicSans-Light.woff2') format('woff2'),
        url('../fonts/publickSans/PublicSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/publickSans/PublicSans-Bold.woff2') format('woff2'),
        url('../fonts/publickSans/PublicSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/publickSans/PublicSans-Regular.woff2') format('woff2'),
        url('../fonts/publickSans/PublicSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand-v30-latin-regular.woff2') format('woff2'),
        url('../fonts/quicksand-v30-latin-regular.woff') format('woff');
         font-style: normal;
         font-weight: 400;
}
