*{
    margin: 0;
    box-sizing: border-box;
}

::after,
::before {
    box-sizing: border-box;
}
.container {
    max-width: 1574px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 30px;
}
.container--m {
    max-width: 1325px;
}

.body {
    font-family: 'Public Sans','Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.img-resonsive {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $txt;
    &:hover {
        color: $light-blue;
    }
}
.btn--color-orange {
    cursor: pointer;
    border-radius: 20px 6px;
    border: 2px solid $orange;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $white;
    background-color: $orange;
}
.btn--color-orange:hover {
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 20px 6px;
    color: $orange;
}
.btn--color-orange:active {
    color: $white;
    background-color: $orange;
    border-radius: 20px 6px;
}
.btn--transparent {
    cursor: pointer;
    border-radius: 20px 6px;
    border: 2px solid $white;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $white;
    background-color: transparent;
}
.btn--transparent:hover {
    background-color: transparent;
    border: 2px solid $light-blue;
    border-radius: 20px 6px;
    color: $light-blue;
}
.btn--transparent:active {
    color: $white;
    background-color: $light-blue;
    border-radius: 20px 6px;
}
