//color
$orange: #FF813A;
$blue: #003458;
$light-blue :#73CBE8;
$yellow: #F5F06E;
$grey: #E2E2E2;
$white: #FFFFFF;
//Text
$txt: #0A1F32;
$txt2: #687086;
//background
$bg-footer:#1A1C26;
$bg: #F9F9FB;
$bg-icon: rgba(15, 38, 62, 0.59);
//Gradient
$gragient: linear-gradient(90deg, #003458 0%, #FF813A 100%);
$gradient-home-img-r: linear-gradient(90deg, #003458 5.21%, rgba(0, 52, 88, 0) 100%);
$gradient-home-img-l: linear-gradient(90deg, #003458 5.21%, #003458 36.46%, rgba(0, 52, 88, 0) 99.06%);
